// fonts
:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

// colors
$color-principal: rgb(108, 215, 237);
$color-secondary: palevioletred;
$color-tertiary: #ebff9f;