.cards {}

body {
    background-color: rgb(215, 175, 182);
}

h1 {
    color: rgb(108, 215, 237);
    margin: 10px;
    font-size: 20px;
}

.search {
    background-color: rgb(108, 215, 237);
    width: 60px;
    height: 20px;
    color: aliceblue;
    border-radius: 2px;
    border: none;
    margin: 10px;

}

.reset {
    background-color: rgb(108, 215, 237);
    width: 60px;
    height: 20px;
    color: aliceblue;
    border-radius: 2px;
    border: none;
    margin: 10px;

}

form {
    display: inline;
}

.input {

    background-color: black;

    margin: 10px;

    color: white;
    border-color: rgb(108, 215, 237);
    width: 400px;
    height: 20px;
    border-radius: 3px;

}

.title {
    color: grey;
    width: 100px;
}

.favorites {
    color: rgb(108, 215, 237);
    background-color: rgb(108, 215, 237);
    border: 10px;
    border-color: aliceblue;
    border-radius: 2px;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

.result-container {
    width: 70vw;

}

.result-fav {
    width: 30vw;
}


.anime--favorite {

    border: 20px;
    border-color: purple;
}