body {
    background-image: url(../images/índice.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: black;
    margin: 40px;

}

h1 {
    color: rgb(91, 195, 216);
    margin: 25px;
    font-size: 35px;
}

form {
    display: inline;
}

.search {
    background-color: rgb(31, 137, 158);
    width: 130px;
    height: 40px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    margin: 15px;
    font-size: 20px;
    ;

}

.hiden {
    display: none;
}

.reset {
    background-color: rgb(31, 137, 158);
    width: 130px;
    height: 40px;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    margin: 10px;
    font-size: 20px;

}

.erase {
    background-color: rgb(86, 235, 86);
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 5px;
}

.input {

    background-color: black;
    margin: 20px;
    color: white;
    border-color: rgb(31, 137, 158);
    width: 40%;
    height: 30px;
    border-radius: 3px;

}



.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 15px;

}



.box-1 {
    background-color: palevioletred;
    border: 3px solid palevioletred;
    color: black;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebff9f;
    border: 3px solid #ebff9f;
    color: black;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 24px;

}

.box-3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: 10px solid palevioletred;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

.box-4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 3px;
    border: 10px solid #ebff9f;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px;
}

.box-4 p {
    width: 110%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

}

.icon {
    color: palevioletred;
    margin: 8px;
    font-size: 2vw;
}

.titles {
    color: white;
    text-align: center;
    font-size: 1vw;
}

.titles2 {
    color: white;
    width: 60%;
    font-size: 1vw;
    text-align: center;
}

.anime-favorite {
    background-color: rgb(217, 145, 169);
    color: rgb(8, 86, 102);

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 2%;
    padding: 2%;
    border: 10px solid#ebff9f;
    border-radius: 10px;
    object-fit: contain;

}

.card2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 3%;
    border: 10px solid#ebff9f;
    border-radius: 10px;
    object-fit: contain;
}

.img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin: 5px;
}

.card p {
    font-size: 1vw;
    text-align: center;
    background-color: transparent;
}

.js-ad {
    color: aqua;
    font-size: 1.2vw;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    font-style: italic;
}