body {
    background-image: url(../images/índice.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: black;

}

h1 {
    color: rgb(108, 215, 237);
    margin: 20px;
    font-size: 30px;
}

form {
    display: inline;
}

.search {
    background-color: rgb(108, 215, 237);
    width: 60px;
    height: 20px;
    color: aliceblue;
    border-radius: 2px;
    border: none;
    margin: 10px;

}

.reset {
    background-color: rgb(108, 215, 237);
    width: 60px;
    height: 20px;
    color: aliceblue;
    border-radius: 2px;
    border: none;
    margin: 10px;

}

.input {

    background-color: black;
    margin: 20px;
    color: white;
    border-color: rgb(108, 215, 237);
    width: 60%;
    height: 20px;
    border-radius: 3px;

}



.grid-container {
    display: grid;
    grid-template-columns: 35% 60%;
    margin: 10px;

}



.box-1 {
    background-color: palevioletred;
    border: 3px solidpalevioletred;
    color: black;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.box-2 {
    background-color: #ebff9f;
    border: 3px solid #ebff9f;
    color: black;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}


.box-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid palevioletred;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}


.box-4 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #ebff9f;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    min-height: 400px;
    padding-top: 15px;
}

.icon {
    color: palevioletred;
}

.titles {
    color: rgb(189, 189, 189);
    width: 120px;
    font-size: 12px;
    text-align: center;
}

.favorites {
    color: rgb(108, 215, 237);
    background-color: rgb(108, 215, 237);
    border: 10px;
    border-color: aliceblue;
    border-radius: 2px;
}


.anime-favorite {

    background-color: palevioletred;
    color: rgb(108, 215, 237);
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    margin: 3px;
}

.img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}